<h1 style="color:blue;">BuzzMap</h1>
<ion-view title='<!--<img src="../img/bm-pin-v1-38x42.png" />-->'>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios7-paper-outline" ng-click="openModal(1)"></a>
  </ion-nav-buttons>
  <ion-content id="map" hide-nav-bar="true">
    <div ng-controller="MapGeolocationCtrl" class="ng-scope">
      <map disable-default-u-i="true" data-tap-disabled="true">
        <home class="ion-android-locate nav-tools" href="#search_field" position="TOP_LEFT" index="1" ng-click="home()">
        </home>

        <search href="#search_field" class="ion-ios7-search-strong nav-tools controls" position="TOP_RIGHT" index="2" id="search" ng-click="startSearch()">
          <input id="search_map" ng-model="searchMap" ng-class="{'widen': toggleSearch}" 
          ng-click="$event.stopPropagation();"
          ng-keyup="$event.keyCode == 13 && googleMap()" ng-autocomplete placeholder="Search #tags or locations"/>
        </search>

        <cam class="button-icon icon ion-aperture nav-tools" index="3" id="eye" position="BOTTOM_LEFT" ng-click="videocam()" ng-hide="false" ng-controller="CamCtrl"> 
        </cam>

        <clock class="button-icon icon ion-android-clock nav-tools" index="4" src="../img/timeline.png" id="clock" position="BOTTOM_RIGHT" ng-click="Timeline()" ng-hide="true"> 
        </clock>
      </map>
      <style>
        .playlist ul {
  list-style-type: none;
}

.playlist ul a {
  cursor: pointer;
  color: #428bca;
  text-decoration: none;
}

.playlist ul a:visited {
  color: #428bca;
}

.playlist ul a:hover {
  color: #428bca;
  text-decoration: underline;
}

.videogular-container {
  width: 100%;
  height: 320px;
  margin: auto;
  overflow: hidden;
}

.videogular-container .skipButton {
  position: absolute;
  padding: 10px;
  top: 10px;
  right: 10px;
  z-index: 99999;
  color: white;
  cursor: pointer;
  background-color: #666666;
  border: 2px #FFFFFF solid;
  display: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

@media (min-width: 1200px) {
  .videogular-container {
    width: 1170px;
    height: 658.125px;
  }

  .videogular-container.audio {
    width: 1170px;
    height: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .videogular-container {
    width: 940px;
    height: 528.75px;
  }

  .videogular-container.audio {
    width: 940px;
    height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .videogular-container {
    width: 728px;
    height: 409.5px;
  }

  .videogular-container.audio {
    width: 728px;
    height: 50px;
  }
}

</style>
      <script id="modal-video.html" type="text/ng-template">
        <div class="modal">
          <i class="icon ion-ios7-close close-modal" ng-click="closeModal(1)"></i>
          <div class="item item-divider">
          </div>
          <div ng-controller="VidCtrl">
        <ul rn-carousel style="height: 400px;">
              <li ng-repeat="item in items" style="height: 400px;">

                <div class="video"  style="height: 400px; background: cyan; border: 2px solid red;"
                ng-style="background-image:url({{ item.media$group.media$thumbnail[0].url }});">
                  <div class="video-title">{{ item.title.$t }}</div>
                </div>
              </li>
            </ul>
            </div>
            

          <!--
          /**
            <div class="videogular-container">
              <videogular vg-player-ready="controller.onPlayerReady($API)" vg-complete="controller.onCompleteVideo()" vg-theme="controller.config.theme.url">
                <vg-media vg-src="controller.config.sources"
                      vg-tracks="controller.config.tracks">
                </vg-media>
                <vg-controls>
                  <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  </vg-scrub-bar>
                  <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                  <vg-volume>
                    <vg-mute-button></vg-mute-button>
                  </vg-volume>
                  <vg-fullscreen-button></vg-fullscreen-button>
                </vg-controls>

                <vg-overlay-play></vg-overlay-play>
                <vg-buffering></vg-buffering>
                <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
              </videogular>
            </div>
            <div class="playlist">
              <ul>
                <li><a ng-click="controller.setVideo(0)">Bus Driver</a></li>
                <li><a ng-click="controller.setVideo(1)">Silent Disco</a></li>
                <li><a ng-click="controller.setVideo(2)">Shark</a></li>
              </ul>
            </div>
            **/
          -->
          </div> 
        </div>


           <!--end video-->     
        </div>
      </script>
    </div>
  </ion-content>
</ion-view>
