<ul id='example-messages' class='example-chat-messages'>
  <li ng-repeat='msg in messages'>
    <strong class='example-chat-username'>{{msg.from}}</strong>
    {{msg.body}}
  </li>
</ul>
<script>
module.controller('MyCtrl', function($scope, $cordovaCapture) {

  $scope.captureVideo = function() {
    var options = { limit: 3, duration: 15 };

    $cordovaCapture.captureVideo(options).then(function(videoData) {
      // Success! Video data is here
    }, function(err) {
      // An error occured. Show a message to the user
    });
  }

});

</script>