<ion-view title='<img src="../img/bm-pin-v1-38x42.png" />'>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios7-paper-outline" href="#search_field"></a>
  </ion-nav-buttons>
  <ion-content class="">
    <div ng-controller="MapGeolocationCtrl" class="ng-scope">
      <map zoom="12" disable-default-u-i="true" data-tap-disabled="true">
        <home class="ion-android-locate nav-tools" href="#search_field" position="TOP_LEFT" index="1" ng-click="home()">
        </home>

        <search href="#search_field" class="ion-ios7-search-strong nav-tools" position="TOP_RIGHT" index="2" id="search" ng-click="toggleSearch = !toggleSearch">
          <input id="search_map" ng-model="searchMap" ng-class="{'widen': toggleSearch}"/>
        </search>

        <cam class="button-icon icon ion-aperture nav-tools" index="3" id="eye" position="BOTTOM_LEFT" ng-click="videocam()" ng-hide="false"> 
        </cam>

        <clock class="button-icon icon ion-android-clock nav-tools" index="4" src="../img/timeline.png" id="clock" position="BOTTOM_RIGHT" ng-click="Timeline()" ng-hide="true"> 
        </clock>
      </map>
      <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-button"
      controls preload="auto" width="640" height="264" ng-src="http://storage.googleapis.com/bm-vids/Man%20dives%20into%20water%20comes%20face%20to%20face%20with%20great%20white%20shark.mp4" ng-controller="VidCtrl" ng-hide="showVid">
      </video>
      
    </div>
  </ion-content>
</ion-view>
