<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-clear nav-title-slide-ios7 nav-tools" id="nav-bar">
      <ion-nav-back-button class="button-clear">
        <i class="icon ion-ios7-arrow-back"></i> 
        {{getPreviousTitle() || Back}}
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" ng-controller="searchCtrl">
    <header class="bar bar-header bar-dark">
      <input type="search" id="search_tag" class="ion-ios7-search" placeholder="#" value="#" ng-model="search" />
    </header>
    <ion-content class="has-header">
      <ion-list>
        <!--<ion-toggle ng-model="map_event_toggle" toggle-class="toggle-map" style="color: #e93236">
          <span>Map</span>
          <span style="float: right; margin-right: -85px;">Events</span> -->

        <ion-item nav-clear menu-close href="#/app/map">
          Map  
        </ion-item>
        <ion-item nav-clear menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item nav-clear href="#/app/video">
          <div class="ion-social-freebsd-devil category_menu"></div>
        </ion-item>
        <ion-item nav-clear href="#/app/browse" class="choosen">
          <div class="ion-ios7-people category_menu"></div>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          Playlists
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          Account {{search}}
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
