<div class="modal" ng-controller="VidCtrl">
  <ion-header-bar>
    <h3 class="video title">{{vidTitle}}</h3>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeVid()">X</button>
    </div>
  </ion-header-bar>
  <ion-content>
	$scope.vidUrl = "{{vidUrl}}"
	<br />
	<div>
	<video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-button"
	  controls preload="auto" width="640" height="264" ng-src="{{vidUrl}}">
	 <source ng-src="{{vidUrl}}" type='video/mp4' />
	 <!---
	 <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
	 <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
	 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
	http://storage.googleapis.com/bm-vids/Man%20dives%20into%20water%20comes%20face%20to%20face%20with%20great%20white%20shark.mp4

	http://storage.googleapis.com/bm-vids/Silent%20Disco%20on%20the%20Bart%20last%20night....mp4

	http://storage.googleapis.com/bm-vids/Occupy%20Oakland-%20The%20Battle%20of%20Oak%20Street.mp4

	-->
	</video>

	<button ng-click="prevVid()" style="margin-left: 100px;">Prev</button><button ng-click="nextVid()" style="margin-left: 150px;">Next</button>
	</div>
  </ion-content>
</div>