$red: #e93236;
$blue: #0171A1;
$turquoise: #00899B;
$white: #FFFFFF;
$yellow: #F8EB10;

html, body, map {
    height: 100%;
    width: 100%;
    //font-size: 62.5%;
    margin:0;
    padding:0;
    text-rendering: optimizeLegibility;
    touch-events: none !important;
    -webkit-user-select: none !important;
}
a:active, i:active {
	color: #e93236;
}
//Overrides an ionic rule to remove top bar over
#map {
	top:0 !important;
}
/** A css hack to stretch map height to device innerWindow height **/
map {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
/** map markers **/

.pulse {
  background: rgba(0,0,0,0.2);
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
  &:after {
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin: -13px 0 0 -13px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.0;
    box-shadow: 0 0 1px 2px #89849b;
    //animation-delay: 1.1s;
	}
}
@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0.0;
	}
  50% {
    opacity: 1.0;
	}
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
	}
}
.scroll-content {
	height: 100%;
}
.scroll {
  height: 100%;
}

.logo {
	font-weight: 900;
}

#splash {
	background: #3d0f7a;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    z-index: 100;
}
.modal {
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: transparent;
	text-align: center;
	min-height: 360px;
}
.close-modal {
  position: absolute;
  right: 0px;
  top: 5px;
  font-size: 1.8em;
  text-align: center;
  z-index: 10;
  background-color: #f5f5f5;
  border-radius: 30px;
  width: 26px;
  cursor: pointer;
  line-height: 0px;
  border: 1px solid #ddd;
}
//ion-nav-bar#nav-bar .bar {
	background: #e93236 !important;
	float: left;
	color: #fff;
	padding: 0;
	box-shadow: 1px 0 3px 0px #333;
}
.gm-style-iw > div {
	overflow: hidden !important;
}

#moving-map {
	z-index: 90; 
	width: 560px; 
	height: 400px; 
	background-image: url(bg-clouds.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground 40s linear infinite;
}
@keyframes animatedBackground {
		 to { background-position-x:100%; } 
}
#nav-btn {
	text-align: center;
	width: 44px;
	height: 44px;
	cursor:pointer;
	padding-top: 12px;
	font-size: 21px;
	
	&:active {
		background: #2c3e50;
		color: #e93236;
	}
}
.bar .title {
	font-weight: 600;
	font-size: 55px;
}
#title_card {
	text-align: center;
	position: relative;
	height: 44px;
	font-weight: 700;
	border-right: solid #fff 2px;
	padding-right: 16px;
	//left: 45px;
	padding-top: 12.5px;
	box-shadow: 2px 0 3px -1px #222;
	background: transparent;
}
/***** Map tools ****/
.nav-tools {
	color: #00899B;
	font-size: 26px;
}

.nav-tools:active {
	color: #e93236;
}
.ion-ionic {
	position: absolute;
	z-index: 999;
	font-size: 25px;
	color: #0171A1;
	top: 50%;
	right: 50%;
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}
.ion-navicon {
	font-size: 55px;
}

.ion-android-locate {
	border-radius: 4px;
	background: rgba(255,255,255,0.6);
	position: absolute;
	top: 54px;
	left: 15px;
	padding: 6px 8px 4px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	color: #00899B;
}

#eye {
	height: 55px;
	position: absolute;
	bottom: 55px;
	left: 14px;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
}

.ion-ios7-search-strong {
	font-size: 28px;
	cursor: pointer;
	text-align: center;
	color: #00899B;
	position: absolute;
	top: 55px;
	right: 15px;
	border-radius: 4px;
	padding: 3px 8px 1px 3px;
	background: rgba(255,255,255,0.6);
	text-align: right;
	text-decoration: underline;
	
}
@-webkit-keyframes enter_search {
    from {width: 1.7em;}
    to {width: 75%;}
} 

/* Standard syntax */ 
@keyframes enter_search {
    from {width: 1.7em;}
    to {width: 75%;}
}
ion-side-menu ion-item.item {
	color: #e93236;
}

.ion-ios7-search-strong .search {
	width: 12em;
}
#search_tag {
	font-size: 20px;
	color: #00899B;
	padding-left: 4px;
	vertical-align: middle;
}
/**
#search_tag:focus {
	box-shadow: 0 0 15px 5px #b0e0ee;
} 

.clear-search {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-search:after {
	content: "X";
	display: block;
	width: 15px;
	height: 16px;
	position: absolute;
	background-color: #FA9595;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 3px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}
.search-tag:not(:valid) ~ .close-search {
	display: none;
}
**/
.ion-aperture {
	background: rgba(255,255,255,0.6);
	padding: 11px 14px;
	border-radius: 4px;
}
.toggle.toggle-map {
	right: 115px;
}
.toggle.toggle-map input:checked + .track {
	border-color: #43cee6;
	background-color: #43cee6;
	//#43cee6;
	color: #0171A1;
}

.toggle.toggle-map .track {
border: solid 2px #00899B;
background-color: #00899B;
}
.category_menu {
	margin: -10px;
	font-size: 35px;
	text-align: center;
}

.chosen {
	color: #bbb;
}
#search_map {
	background: none;
	border: none;
	border-bottom: 1px solid;
	color: #00899b;
	float: left;
	text-align: right;
	margin-top: 5px;
	width: 0;
    transition: width .5s ease-in;
    -webkit-transition: width .5s ease-in;
    float: left;
    margin-right: 8px;

}
#search_map.widen {
    width: 250px;
    visibility: visible;
}

#search_map.open {
	display: block;
	width: 85%;
}
#list-icon {
	text-align: center;
	width: 44px;
	height: 44px;
	position: absolute;
	right: 0;
	padding-top: 13px;
	font-size: 19px;
	cursor: pointer;
}
#clock {
	height: 55px;
	position: absolute;
	bottom: 55px;
	right: 14px;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
}
.bigl {
	font: Times;
	font-weight: 700;
}
.textInput {
	background: #fff;
	border: #ccc 2px solid;
	border-radius: 3px;
	}
.submitText {
	position: relative;
	//top: 3px;
	left: 5px;
	background: #fff;
	border: #ccc 2px solid;
	border-radius: 3px;
	vertical-align: top;
}
/* MIXINS */
@mixin slide-transition() {
  -webkit-transition: -webkit-transform 400ms ease;
  -moz-transition: -moz-transform 400ms ease;
  -o-transition: -o-transform 400ms ease;
  transition: transform 400ms ease;
}

/* Normally, would use Compass */
@mixin translate3d($x,$y,$z) {
  -webkit-transform: translate3d($x,$y,$z);
  -moz-transform: translate3d($x,$y,$z);
  -ms-transform: translate3d($x,$y,$z);
  -o-transform: translate3d($x,$y,$z);
  transform: translate3d($x,$y,$z);
}

@mixin backface-visibility($val) {
  -webkit-backface-visibility: $val;
  -moz-backface-visibility: $val;
  -ms-backface-visibility: $val;
  -o-backface-visibility: $val;
  backface-visibility: $val;
}

/* TYPE */
body {
    font: 14px/1.2 Helvetica, Arial, sans-serif;
}

/* BASE STYLES */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.outer-wrap, .inner-wrap, .nav-drawer {
  height: 100%;
}


.outer-wrap {
  position: relative; /* to contain its children and their widths */
  overflow-x: hidden;
  background-color: #fefefe;
}



/* NAV DRAWER */
.nav-drawer, .inner-wrap {
    @include backface-visibility(hidden);
    @include slide-transition();
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
}

.nav-drawer {
    position: absolute;
    top:44px;
    left: 0;
    @include translate3d(-100%,0,0);
    background: #333;
    width: 152px;
    max-height: 100%;
    z-index: 300;
    
    .nav-open & {
        @include translate3d(0,0,0);
    }
}

.inner-wrap {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    max-height: 100%;
    padding-top: 50px;
    @include translate3d(0,0,0);
    
    .nav-open & {
        @include translate3d(-83%,0,0);
    }
}

/* CONTENT */
.content {
  padding: 10px;
  position: relative;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 8px;
    
    a:active {
      color: #18bc9c;
    }
  }
}
/** new drawer style ***/
.platform-android .menu .scroll-content {
	top: 42px;
}
.platform-android .menu-content {
	box-shadow: none;
}
.platform-android.menu-open ion-pane.pane{
	background-color: black;
}
.platform-android.menu-open ion-view.pane{
	opacity:0.5;
}
.physical_1px{
  background-image: linear-gradient(0deg, #DFDFDF, #DFDFDF 50%, transparent 50%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 1px;
}
ul[rn-carousel] {
	height: 100vw;
	width: 100vw;
}
/** Video Player **/
#vidctrl, #vidctrl>ul, #vidctrl>ul>li {
	height: 100vh;
	width:100vw;
	overflow-x: hidden;
	overflow-y: scroll; 
}
#vidctrl>ul>li>video {
		width:100vw;
}
//portrait mode
@media screen and (max-width: 475px) { //iPhone4 lengthth is 480px
	#vidctrl {
		height: 85vh;
	}
}
.thumbnail {
	background-image: url("/media/img/demos/minimalist.jpg");
	-webkit-box-shadow: 0 0 50px #ccc;
	-moz-box-shadow: 0 0 50px #ccc;
	box-shadow: 0 0 50px #ccc;
}
.video {
	height: 100vh;
	width:100vw;
	background-size: cover;
	background-position: center center;
}
.video-title {
	font-size: 18px;
	color: #fff;
	background: #000;
}
/******* Video Styles ******/
video #example_video_1 .video-js .vjs-default-skin .vjs-volume-control {
	display: none !important;
}
.playlist ul {
	list-style-type: none;
}

.playlist ul a {
	cursor: pointer;
	color: #428bca;
	text-decoration: none;
}

.playlist ul a:visited {
	color: #428bca;
}

.playlist ul a:hover {
	color: #428bca;
	text-decoration: underline;
}

.videogular-container {
	width: 100%;
	height: 320px;
	margin: auto;
	overflow: hidden;
}

.videogular-container .skipButton {
	position: absolute;
	padding: 10px;
	top: 10px;
	right: 10px;
	z-index: 99999;
	color: white;
	cursor: pointer;
	background-color: #666666;
	border: 2px #FFFFFF solid;
	display: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}

@media (min-width: 1200px) {
	.videogular-container {
		width: 1170px;
		height: 658.125px;
	}

	.videogular-container.audio {
		width: 1170px;
		height: 50px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.videogular-container {
		width: 940px;
		height: 528.75px;
	}

	.videogular-container.audio {
		width: 940px;
		height: 50px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.videogular-container {
		width: 728px;
		height: 409.5px;
	}

	.videogular-container.audio {
		width: 728px;
		height: 50px;
	}
}
